---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enrique Briones - Desarrollador Fullstack</title>
    <meta
      name="description"
      content="Portafolio profesional de Enrique Briones, desarrollador web especializado en JavaScript, React, Angular, Node.js y NestJS Proyectos, experiencia y contacto."
    />
    <meta
      name="keywords"
      content="Enrique Briones, desarrollador web, portafolio, JavaScript, TypeScript, React, Node.js, NestJS, Node.js, Express, Java, frontend, backend, full stack"
    />
    <meta name="author" content="Enrique Briones" />
    <meta name="robots" content="index, follow" />

    <meta
      property="og:title"
      content="Enrique Briones | Desarrollador Web Full Stack"
    />
    <meta
      property="og:description"
      content="Conoce mis proyectos y experiencia como desarrollador Full Stack."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Font Awesome (for icons) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
